.nav {
    background-color: black;
    padding: $my-base-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__items {
        @include navitem(white);
    }

    &__input {
        @include setinput($my-font-fam);
    }

    &__submit {
        @include setbtn;
    }
}