
body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    
    width: 20%;
    height: 25%;
    margin: 0 5px;
        
    border: 1px solid black;    
    background-color: white;
    border-radius: 4px;
}

.description {
    margin: 1em;
}

.title {
    font-family: 'Orbitron', sans-serif;
}